<div id="fotorama"
  data-loop="true"
  data-allowfullscreen="native"
  data-arrows="false"
  data-autoplay="10000"
  data-stopautoplayontouch="false"
  data-transition="crossfade"
  data-nav="false"
  data-auto="false">
</div>
